@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: bisque;
}

button {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

/* ------------------------------------- */
/* ------------Sleeping Dany------------ */
.cat {
  background-color: #cacec8;
  height: 65px;
  width: 80px;
  border-radius: 0 80px 80px 0;
  position: fixed;
  bottom: 60px;
  right: 50px;
  display: block;
  /* bottom: 0;
  right: 0; */
}

.ear {
  height: 15px;
  width: 15px;
  background-color: #776d60;
  position: absolute;
  bottom: 64px;
  left: 8px;
  border-radius: 20px 0 0 0;
  box-shadow: 25px 0 #776d60;
}

.eye,
.eye:before {
  height: 7px;
  width: 10px;
  border: 2px solid #2c2c2c;
  position: absolute;
  border-radius: 0 0 15px 15px;
  border-top: none;
}
.eye {
  top: 18px;
  left: 15px;
}
.eye:before {
  content: "";
  left: 30px;
}

.nose {
  background-color: #ffffff;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  position: absolute;
  top: 32px;
  left: 25px;
  box-shadow: 12px 0 #ffffff;
}

.nose:before {
  content: "";
  width: 12px;
  height: 8px;
  position: absolute;
  background-color: #ffffff;
  left: 6px;
}
.nose:after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-top: 8px solid #4e3c2e;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  bottom: 7px;
  left: 6px;
}

.mouth {
  background-color: #2c2c2c;
  height: 15px;
  width: 17px;
  position: absolute;
  border-radius: 0 0 5px 5px;
  top: 38px;
  left: 27px;
  animation: mouth-move 2s infinite;
  transform-origin: top;
}
@keyframes mouth-move {
  50% {
    transform: scaleY(0.7);
  }
}

.body {
  background-color: #cacec8;
  height: 90px;
  width: 140px;
  position: absolute;
  right: 65px;
  bottom: 0;
  border-radius: 60px 60px 0 0;
  animation: sleep 2s infinite;
  transform-origin: bottom right;
}

@keyframes sleep {
  50% {
    transform: scale(0.9, 1.05);
  }
}

.tail {
  background-color: #afa68b;
  height: 20px;
  width: 100px;
  position: absolute;
  right: 150px;
  bottom: 0;
  border-radius: 20px 0 0 20px;
}

.body:before {
  content: "";
  position: absolute;
  background-color: #776d60;
  height: 12px;
  width: 30px;
  border-radius: 6px;
  bottom: 0;
  left: 22px;
  box-shadow: 45px 0 #776d60;
}

.bubble {
  height: 20px;
  width: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  left: 65px;
  top: 20px;
  border-radius: 50px 50px 50px 5px;
  animation: bubble-scale 2s infinite;
}

@keyframes bubble-scale {
  50% {
    transform: scale(1.6);
  }
}

/* ------------------------------------- */

* {
  box-sizing: border-box;
}

/* body {
  background-color: #2b88f0;
  font-family: "Muli", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
} */

/* h3 {
  color: #fff;
  margin: 10px 0 20px;
  text-align: center;
} */

.choice-container {
  width: 500px;
  gap: 10px 20px; /* row-gap column gap */
  row-gap: 10px;
  column-gap: 20px;
  margin: 50px;
}

textarea {
  border: none;
  border-style: solid;
  display: block;
  width: 60%;
  height: 50px;
  font-family: inherit;
  padding: 5px;
  margin: 0 0 20px;
  font-size: 15px;
  margin: 50px;
}

textarea:focus {
  outline: none;
  margin: 50px;
}

.tag {
  background-color: #b0808c;
  color: #fff;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 0 50px 10px 0;
  font-size: 14px;
  display: inline-block;
}

.tag.highlight {
  background-color: #a9bd93;
}

.form {
  margin: 50px;
}

.carousel-item {
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center;
}

/* .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: calc(100% / 4);
  height: calc(100 / 5);
  display: flex;
  gap: 1em;
  flex-direction: column;
  width: min(95%, 45rem);
  margin: 0 auto;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-render {
  padding: 2px 16px;
} */
